/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  text-decoration-line: none;
}




/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

canvas {
  width: 100%;
  height: 100%;
}




/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/

.nav {
  position: fixed;
  width: 90vw;
  left: 5vw;
  top: 5vh;
  height: 90vh;
  z-index: 10000;
  display: flex;
  align-content: center;
  justify-content: space-between ;
}

.nav__point__text {
  font-size: 2rem;
}

.nav__point__text:visited {
  color: black;
}

.nav__point  {
  height: fit-content;
}

#nav__left {
  position: relative;
  top: 50vh;
  transform: rotate(-90deg);
}

#nav__right {
  position: relative;
  top: 50vh;
  transform: rotate(90deg);
}

/*---------------------------------------------------------------------------*/
/*---------------------------------  FOOTER  --------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  position: fixed;
  bottom: 0.5%;
  left: 0.5%;
}

footer a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: black;
  text-decoration-line: none;
}