
/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/

:root {
  font-size: 90%;
  
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f5f5f5;
    --font-color: #000;
    --border-color: #e0e0e0;
    --overlay-background-color: #1a1919fa;
    --overlay-font-color: #f5f5f5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:  #000;
    --font-color: #f5f5f5;
    --border-color: #272727;
    --overlay-background-color: #1a1919fa;
    --overlay-font-color: #f5f5f5;
  }
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 99%;
  min-width: 300px;
  background-color: var(--background-color, #f5f5f5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  
}

h1, h2, h3, h4, h5, h6, a, p, li {
  margin: 0;
  padding: 0;
  font-family: termina, Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  color: var(--font-color, #000);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

ul {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}

ul li {
  list-style: none;
  font-weight: 400;
}


.pfeil_back .cls-1 {
  stroke: var(--font-color, #000);
}



/*---------------------------------------------------------------------------*/
/*---------------------------------  GRID  ----------------------------------*/
/*---------------------------------------------------------------------------*/


.grid-nav, .grid-wrapper, .grid-nav-burger {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: grid;
  width: 99%;
  height: 100vh;
  height: -webkit-fill-available;
  grid-template-columns: 3% 10% 1fr 10% 3%;
  grid-template-rows: 6vh 5% -webkit-max-content -webkit-max-content;
  grid-template-rows: 6vh 5% max-content max-content;
  grid-template-areas: 
  ". . . . ."
  ". . . . ."
  ". main main main ."
  ". . header . . "
  ". . . footer footer"; 
 
}

.grid-nav {
  position: fixed;
  z-index: 2;
  height: auto;
  grid-template-rows: 6vh 5% 75vh;
  grid-template-areas: 
  "navtop navtop navtop navtop navtop"
  ". . . . ."
  "navleft . . . navright"
  ". . . . ."
  ". . . . ."; 
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-wrapper--about {
  grid-template-rows: 6vh 5% 75vh -webkit-max-content;
  grid-template-rows: 6vh 5% 75vh max-content;
  grid-template-areas: 
  ". . . . ."
  ". . . . ."
  ". . main . ." /* Damit .uberuns mittig bleibt */
  ". . header . . "
  ". . . footer footer"; 
} 

@media screen and (max-width: 870px) {
  .grid-wrapper--about {
    grid-template-rows: 6vh 5% -webkit-max-content -webkit-max-content;
    grid-template-rows: 6vh 5% max-content max-content;
  }
}





/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/

.burger-menu, .nav-burger-logo, .nav-burger-border, .burger-nav-point  {
  display: none;
}

.headline {
  font-size: 1.0rem;
}

.nav__link:visited {
  color: var(--font-color, #000);
}

.nav__item  {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
 
}

 
.nav__link::after {
  content:"";
  position: absolute;
  display:block;
  width: 0%;
  left:0;
  border-bottom: 2px solid var(--font-color, #000);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}

.nav__link:first-child:hover::after, 
.nav__link:last-child:hover::after,
.nav__link:hover::after {
  width:100%;

}

.nav__link:not(:first-child):not(:last-child):hover::after {
  width: 120px;
}

.nav__item--position--left {
  grid-area: navleft;
  position: -webkit-sticky;
  position: sticky;
  height: 1vh;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
}


.nav__item--position--top {
  height: 8vh;
  padding: 0 50% 0 50%;
  background-color: var(--background-color, #f5f5f5);
  grid-area: navtop;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  
}


.nav__link--position--top {
  position: relative;
  top: 2vh;

}

.nav__item--position--right {
  grid-area: navright;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
}


/*---------------------------------------------------------------------------*/
/*---------------------------  NAVIGATION - BURGER  -------------------------*/
/*---------------------------------------------------------------------------*/
/* TODO: Burgermenu ab 650px */

@media screen and (max-width: 650px) {

  html {
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
  }

  .nav__point {
    display: none;
  }
  
  .grid-nav {
    display: block;
  }

  .grid-nav-burger, .burger-nav__overlay {
    display: grid;
    height: 50%;
    width: 100%;
    grid-template-columns: 89vw 6vw 5vw; 
    grid-template-rows: 7vh 1.5px;
    grid-template-areas: 
    "logo burger ."
    "border border border";
  }

  /* .grid-wrapper {
    z-index: 9999;
  } */
  

  .--overflow--hidden, #body--overflow--hidden {
    overflow: hidden;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
  }

  .nav-burger-logo {
    grid-column: 1 / span 3 ;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: var(--background-color, #f5f5f5);
    height: 100%;
    width: 100%;
  }

  .nav-burger-logo__text {
    font-size: 1.3rem;
  }

  .nav-burger-border {
    display: block;
    grid-column: 1 / span 5;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color: var(--border-color, #e0e0e0);
  }

  .burger-menu {
    display: inline-block;
    grid-area: burger;
    height: 20px;
    width: 25px;
    position: relative;
    z-index: 99999999999;
  }

  .burger-menu .line {
    width: 25px;
    height: 2px;
    background-color: var(--font-color, #f5f5f5);
    position: absolute;
  }

  .line:nth-child(1) {
    top: 3px;
  }

  .line:nth-child(2) {
    top: 9px;
  }

  .line:nth-child(3) {
    top: 15px;
  }

  /*---------------------------  BURGER - OVERLAY  --------------------------*/

  .burger-nav__overlay  {
    position: absolute;
    z-index: 5;
    top: -100vh;
    left: 0;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: var(--overlay-background-color,#1a1919fa);
    grid-template-rows: 7vh 2px 21% repeat(3, 10%) 40%;
    grid-template-areas: 
    ". burger ." /* logo burger .*/
    ". . ." /* border border border */
    ". . ."
    "nav1 nav1 nav1"
    "nav2 nav2 nav2"
    "nav3 nav3 nav3"
    "footer footer .";
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
  }

 
  
  .nav__point {
    display: block;
  }

  .burger-nav__overlay .nav__item--position--top {
    grid-area: nav1;
    background-color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }

  .burger-nav__overlay .nav__link--position--top {
    position: static;
  }

  .burger-nav__overlay .nav__item--position--left {
    grid-area: nav2;
    position: static;
    height: auto;
    -webkit-transform: rotate( 0deg);
            transform: rotate( 0deg);
  } 

  .burger-nav__overlay .nav__item--position--right {
    grid-area: nav3;
    position: static;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .burger-nav__overlay .nav__link {
    color: var(--overlay-font-color, #f5f5f5);
    font-size: 2rem;
  }

  .nav__link::after {
    border-bottom: 2px solid var(--overlay-font-color, #f5f5f5);
  }


  /*---------------------  BURGER - ANIMATION - FADEIN  ----------------------*/

  @-webkit-keyframes overlay-fadein {
    0% {
      top: -100vh;
      opacity: 0;
    }

    60% {
      top: 25px;
      opacity: 1;
    }

    80% {
      top: -10px;
    }

    100% {
      top: 0;
    }

  }

  @keyframes overlay-fadein {
    0% {
      top: -100vh;
      opacity: 0;
    }

    60% {
      top: 25px;
      opacity: 1;
    }

    80% {
      top: -10px;
    }

    100% {
      top: 0;
    }

  }

  .overlay-fadein {
    -webkit-animation: overlay-fadein 0.9s cubic-bezier(.62,.5,.3,1.14) forwards;
            animation: overlay-fadein 0.9s cubic-bezier(.62,.5,.3,1.14) forwards;
  }

  @-webkit-keyframes overlay-fadeout {
    0% {
      top: 0;
    }

    10% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }

  }

  @keyframes overlay-fadeout {
    0% {
      top: 0;
    }

    10% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    100% {
      top: -100vh;
      opacity: 0;
    }

  }

  .overlay-fadeout {
    -webkit-animation: overlay-fadeout 0.5s cubic-bezier(0.4, 0.0, 1, 1) forwards;
            animation: overlay-fadeout 0.5s cubic-bezier(0.4, 0.0, 1, 1) forwards;
  }


  /* line1 startet bei top: 3px */
  @-webkit-keyframes burger-fadein-1__line1 {
    0% {
      top: 3px;
    }

    99% {
      top: 9px
    }
    100% {
      top: 9px;
      visibility: hidden;
    }
  }
  @keyframes burger-fadein-1__line1 {
    0% {
      top: 3px;
    }

    99% {
      top: 9px
    }
    100% {
      top: 9px;
      visibility: hidden;
    }
  }

  @-webkit-keyframes burger-fadein-2__line1 {
    0% {
      top: 9px;
      opacity: 0;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    49% {
      opacity: 1;
    }

    50%{
      top: 9px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }
    
  }

  @keyframes burger-fadein-2__line1 {
    0% {
      top: 9px;
      opacity: 0;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    49% {
      opacity: 1;
    }

    50%{
      top: 9px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }
    
  }

  .burger-fadein-1__line1 {
    -webkit-animation: burger-fadein-1__line1 250ms ease-out forwards;
            animation: burger-fadein-1__line1 250ms ease-out forwards 
    /* animation-delay: 0.5s; */
  }
  .burger-fadein-2__line1 {
    -webkit-animation: burger-fadein-2__line1 0.5s ease-out forwards;
            animation: burger-fadein-2__line1 0.5s ease-out forwards;
    /* animation-delay: 0.5s; */
  }

  /* line2 startet bei top: 9px */
  @-webkit-keyframes burger-fadein-1__line2 {
    0% {
      top: 9px;
      
    }
  
    99% {
      top: 9px
    }
    100% {
      visibility: hidden;
    }
  }
  @keyframes burger-fadein-1__line2 {
    0% {
      top: 9px;
      
    }
  
    99% {
      top: 9px
    }
    100% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes burger-fadein-2__line2 {
    0% {
      visibility: hidden;
      
    }

    100% {
      visibility: hidden;
    }
    
  }

  @keyframes burger-fadein-2__line2 {
    0% {
      visibility: hidden;
      
    }

    100% {
      visibility: hidden;
    }
    
  }

  .burger-fadein-1__line2 {
    -webkit-animation: burger-fadein-1__line2 250ms ease-out forwards;
            animation: burger-fadein-1__line2 250ms ease-out forwards;
    /* animation-delay: 0.5s; */
  }
  .burger-fadein-2__line2 {
    -webkit-animation: burger-fadein-2__line2 0.5s ease-out forwards;
            animation: burger-fadein-2__line2 0.5s ease-out forwards;
    /* animation-delay: 0.5s; */
  }
  
  /* line3 startet bei top: 15px */
  @-webkit-keyframes burger-fadein-1__line3 {
    0% {
      top: 15px;
    }

    99% {
      top: 9px
    }
    100% {
      visibility: hidden;
    }
  }
  @keyframes burger-fadein-1__line3 {
    0% {
      top: 15px;
    }

    99% {
      top: 9px
    }
    100% {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes burger-fadein-2__line3 {
    0% {
      top: 9px;
      opacity: 0;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    49% {
      opacity: 1;
    }

    50%{
      top: 9px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }
    
  }
  
  @keyframes burger-fadein-2__line3 {
    0% {
      top: 9px;
      opacity: 0;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    49% {
      opacity: 1;
    }

    50%{
      top: 9px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }
    
  }

  .burger-fadein-1__line3 {
    -webkit-animation: burger-fadein-1__line3 250ms ease-out forwards ;
            animation: burger-fadein-1__line3 250ms ease-out forwards ;
    /* animation-delay: 0.5s; */
  }

  .burger-fadein-2__line3 {
    -webkit-animation: burger-fadein-2__line3 0.5s ease-out forwards ;
            animation: burger-fadein-2__line3 0.5s ease-out forwards ;
    /* animation-delay: 0.5s; */
  }

  /*---------------------  BURGER - ANIMATION - FADEOUT  ---------------------*/

    /* line1 startet bei top: 3px */
  @-webkit-keyframes burger-fadeout-1__line1 {
    0% {
      top: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    50% {
      background-color: var(--overlay-font-color, #f5f5f5);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }
  }
  @keyframes burger-fadeout-1__line1 {
    0% {
      top: 9px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    50% {
      background-color: var(--overlay-font-color, #f5f5f5);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }
  } 

  @-webkit-keyframes burger-fadeout-2__line1 {
    0% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }

    10% {
      top: 9px;
      visibility: visible;
    }

    100% {
      top: 3px;
      background-color: var(--font-color, #000);
    }
    
  } 

  @keyframes burger-fadeout-2__line1 {
    0% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }

    10% {
      top: 9px;
      visibility: visible;
    }

    100% {
      top: 3px;
      background-color: var(--font-color, #000);
    }
    
  }

  .burger-fadeout-1__line1 {
    -webkit-animation: burger-fadeout-1__line1 200ms ease-out forwards ;
            animation: burger-fadeout-1__line1 200ms ease-out forwards ;
  }
  .burger-fadeout-2__line1 {
    -webkit-animation: burger-fadeout-2__line1 0.4s ease-out forwards ;
            animation: burger-fadeout-2__line1 0.4s ease-out forwards ;
  }

  /* line2 startet bei top: 9px */
  @-webkit-keyframes burger-fadeout-1__line2 {
    0% {
      visibility: hidden;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    100% {
      visibility: hidden;
      background-color: var(--overlay-font-color, #f5f5f5);
    }
  }
  @keyframes burger-fadeout-1__line2 {
    0% {
      visibility: hidden;
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    100% {
      visibility: hidden;
      background-color: var(--overlay-font-color, #f5f5f5);
    }
  }  

  @-webkit-keyframes burger-fadeout-2__line2 {
    0% {
      top: 9px;
      visibility: hidden;
      background-color: var(--font-color, #000);
    }

    100% {
      top: 9px;
      visibility: visible;
      background-color: var(--font-color, #000);
    }
    
  }  

  @keyframes burger-fadeout-2__line2 {
    0% {
      top: 9px;
      visibility: hidden;
      background-color: var(--font-color, #000);
    }

    100% {
      top: 9px;
      visibility: visible;
      background-color: var(--font-color, #000);
    }
    
  }

  .burger-fadeout-1__line2 {
    -webkit-animation: burger-fadeout-1__line2 200ms ease-out forwards ;
            animation: burger-fadeout-1__line2 200ms ease-out forwards ;
  }
  .burger-fadeout-2__line2 {
    -webkit-animation: burger-fadeout-2__line2 0.4s ease-out forwards ;
            animation: burger-fadeout-2__line2 0.4s ease-out forwards ;
  }
  
  /* line3 startet bei top: 15px */
  @-webkit-keyframes burger-fadeout-1__line3 {
    0% {
      top: 9px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    50% {
      background-color: var(--overlay-font-color, #f5f5f5);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      visibility: hidden;
    }    
  }
  @keyframes burger-fadeout-1__line3 {
    0% {
      top: 9px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: var(--overlay-font-color, #f5f5f5);
    }

    50% {
      background-color: var(--overlay-font-color, #f5f5f5);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    100% {
      top: 9px;
      visibility: hidden;
    }    
  }

  @-webkit-keyframes burger-fadeout-2__line3 {
    0% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }

    10% {
      top: 9px;
      visibility: visible;
    }

    100% {
      top: 15px;
      background-color: var(--font-color, #000);
    }
  }

  @keyframes burger-fadeout-2__line3 {
    0% {
      top: 9px;
      background-color: var(--font-color, #000);
      visibility: hidden;
    }

    10% {
      top: 9px;
      visibility: visible;
    }

    100% {
      top: 15px;
      background-color: var(--font-color, #000);
    }
  }

  .burger-fadeout-1__line3 {
    -webkit-animation: burger-fadeout-1__line3 200ms ease-out forwards ;
            animation: burger-fadeout-1__line3 200ms ease-out forwards ;
  }
  .burger-fadeout-2__line3 {
    -webkit-animation: burger-fadeout-2__line3 0.4s ease-out forwards ;
            animation: burger-fadeout-2__line3 0.4s ease-out forwards ;
  }


}




/*---------------------------------------------------------------------------*/
/*----------------------------------  FOOTER  -------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  grid-area: footer;
  place-self: flex-end;
  z-index: 9999999;
  /* position: absolute; */
  bottom: 10px;
  white-space: nowrap;  
}

footer a {
  font-size: 0.7rem;
  
}

/* @media screen and (max-width: 650px) {
  .footer {
    position: absolute;
    bottom: 0px;
    z-index: 999;
  }
} */

.ios__grid-wrapper-footer {
  position: relative;
  bottom: 120px;
  z-index: 9999999;
}

.ios__burger-nav-overlay-footer{
  position: relative;
  bottom: 105px;
  z-index: 9999999;
}

.burger-nav__overlay .footer a{
  color: var(--overlay-font-color, #f5f5f5)
}

/* damit footer am Handy nicht zu sehr ans untere Ende gequetscht ist */
/* @media screen and (max-width: 650px) {
  footer {
    right: 20px;
    bottom: -15px;
    padding-bottom: 0px;
  }
  

} */





/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/*                                                                           */
/*                               WILLKOMMEN                                  */
/*                                                                           */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

.grid-main {
  grid-area: main;
  height: 70vh;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;

}

@media screen and (max-width: 650px) and (max-height: 850px) {
  .grid-main{
  height: 60vh;
  }
}

@media screen and (max-width: 650px) and (max-height: 750px) {
  .grid-main{
  height: 50vh;
  }
}

@media screen and (max-width: 650px) and (max-height: 650px) {
  .grid-main{
  height: 43vh;
  }
}


canvas {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;

  width: 80%;
  height: 100%;
}




/*---------------------------------------------------------------------------*/
/*---------------------------------  HEADER  --------------------------------*/
/*---------------------------------------------------------------------------*/

.einleitungstext {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}
.einleitungstext p {
  /* padding: 0 5vw 0 5vw;
  margin: 0 auto; */
  /* max-width: 920px; */
  font-size: 1.0rem;
  text-align: center;
  
}

@media screen and (max-width: 770px) {
  .einleitungstext p {
    text-align: justify;
  }
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/*                                                                           */
/*                                 ABOUT                                     */
/*                                                                           */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*---------------------------------------------------------------------------*/
/*------------------------------  ÜBER UNS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

.uberuns {
  grid-area: main;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

}

.uberuns h1 {
  margin-bottom: 5%;
}

.uberuns h3, .uberuns li {
  font-size: 0.8rem;
}

.beschreibung {
  margin-bottom: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.beschreibung__titel {
  white-space: nowrap;
}

.beschreibung__text {
  font-weight: 400; 
  margin-bottom: 3%;
}

/* dient als Abstandshalter zwischen Beschreibung und Leistung */
.flex-block {
  width: 15%;
}

.leistungen {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 10%;
}

@media screen and (max-width: 800px) {
  .uberuns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
     
  }

  .beschreibung, .leistungen {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .flex-block {
    display: none;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/*                                                                           */
/*                           "Kleingedrucktes"                               */
/*                                                                           */
/* ++++++++++++          S E I T E N  W E C H S E L           ++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*---------------------------------------------------------------------------*/
/*-------------------------  IMPRESSUM DATENSCHUTZ  -------------------------*/
/*---------------------------------------------------------------------------*/



.pflichtangaben h1, 
.pflichtangaben h2, 
.pflichtangaben h3, 
.pflichtangaben h4, 
.pflichtangaben h5, 
.pflichtangaben h6 {
  margin-top: 1rem;
  font-size: 100%;
}

.pflichtangaben p,
.pflichtangaben a {
  font-size: 75%;
}

.pflichtangaben {
  width: 80vw;
  margin: 0 auto;
}


#pfeil {
  margin: 0 0 0 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: fixed;
  bottom: 10px;
  /* Farbe wird in haupt Style geändert */
}

@media screen and (max-width: 670px) {
  .pflichtangaben {
    margin-left: 18%;
  }

  #pfeil {
    margin: 0 0 0 5px;
    transform: scale(-0.7); /* negativer Wert damit Pfeil in richtige Richtung zeigt */
    top: 45vh;
  }
  
}


