/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/
:root {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 300px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  
}

h1, h2, h3, h4, h5, h6, a, p, li {
  margin: 0;
  padding: 0;
  font-family: termina, Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  color: black;
  text-decoration-line: none;
}

ul {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}

ul li {
  list-style: none;
  font-weight: 400;
}




/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

.grid-main {
  grid-area: main;
}

canvas {
  /* position: relative;
  top: 0;
  left: 0; */
  grid-area: main;
  width: 80%;
  height: 80%;
}






/*---------------------------------------------------------------------------*/
/*---------------------------------  GRID  ----------------------------------*/
/*---------------------------------------------------------------------------*/


.grid-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 6% 85% 6%;
  grid-template-rows: 10vh 70vh 15vh ;
  grid-template-areas: 
  ". navtop ."
  "navleft main navright"
  ". header . "
  ". . footer"; 
}




/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/


.headline {
  font-size: 1.3rem;
}

.nav__link:visited {
  color: black;
}

.nav__item  {
  height: fit-content;
}

.nav__item--position--left {
  grid-area: navleft;
  position: sticky;
  top: 52.5%;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.nav__item--position--top {
  height: 8vh;
  background-color: #f5f5f5;
  grid-area: navtop;
  position: sticky;
  top: 0;
}

.nav__link--position--top {
  position: relative;
  left: 45%;
  top: 2vh;

}

.nav__item--position--right {
  grid-area: navright;
  position: sticky;
  top: 50%;
  transform: rotate(90deg);
  white-space: nowrap;
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  HEADER  --------------------------------*/
/*---------------------------------------------------------------------------*/

.einleitungstext {
  grid-area: header;
  width: 100%;
}
.einleitungstext p {
  /* padding: 0 5vw 0 5vw;
  margin: 0 auto; */
  /* max-width: 920px; */
  font-size: 1.5rem;
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  FOOTER  --------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  grid-area: footer;
  z-index: 9999999;
}

footer a {
  font-size: 0.7rem;
}




/*---------------------------------------------------------------------------*/
/*-------------------------------  MEDIA QUERRY  ----------------------------*/
/*---------------------------------------------------------------------------*/


@media screen and (max-width: 500px) {
  .nav__point__text {
   font-size: 1rem;
  }
}