body {
  margin: 0;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 90vw;
  left: 5vw;
  height: 100vh;
  z-index: 99999999;
  display: flex;
  align-content: center;
  justify-content: space-between ;
}

.nav__point__text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;

}

.nav__point  {
  height: fit-content;
}

#nav__left {
  position: relative;
  top: 50vh;
  transform: rotate(-90deg);
}

#nav__right {
  position: relative;
  top: 50vh;
  transform: rotate(90deg);
}