/* TODO: Burgermenu ab Breakpoint wenn Spalten nicht mehr nebeneinander passen */

/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/
:root {
  font-size: 90%;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  min-width: 300px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  position: relative;
  
}

h1, h2, h3, h4, h5, h6, a, p, li {
  margin: 0;
  padding: 0;
  font-family: termina, Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  color: black;
  text-decoration-line: none;
}

ul {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}

ul li {
  list-style: none;
  font-weight: 400;
}




/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

.grid-main {
  grid-area: main;
  height: 75vh
}

canvas {
  /* position: relative;
  top: 0;
  left: 0; */
  grid-area: main;
  width: 80%;
  height: 80%;
}






/*---------------------------------------------------------------------------*/
/*---------------------------------  GRID  ----------------------------------*/
/*---------------------------------------------------------------------------*/


.grid-nav, .grid-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: grid;
  width: 99%;
  height: 100vh;
  grid-template-columns: 3% 10% 1fr 10% 3%;
  grid-template-rows: 5vh 5% max-content max-content;
  grid-template-areas: 
  ". . . . ."
  ". . . . ."
  ". . main . ."
  ". . header . . "
  ". . . footer footer"; 
 
}

.grid-nav {
  position: fixed;
  z-index: 2;
  height: auto;
  grid-template-rows: 5vh 5% 75vh;
  grid-template-areas: 
  ". . navtop . . "
  ". . . . ."
  "navleft . . . navright"
  ". . . . ."
  ". . . . ."; 
  justify-items: center;
  align-items: center;
}






/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/


.headline {
  font-size: 1.0rem;
}

.nav__link:visited {
  color: black;
}

.nav__item  {
  height: fit-content;
}

.nav__item--position--left {
  grid-area: navleft;
  position: sticky;
  height: 1vh;
  top: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
}


.nav__item--position--top {
  height: 8vh;
  background-color: #f5f5f5;
  grid-area: navtop;
  position: sticky;
  z-index: 1;
  
}


.nav__link--position--top {
  position: relative;
  top: 2vh;

}

.nav__item--position--right {
  grid-area: navright;
  position: sticky;
  transform: rotate(90deg);
  white-space: nowrap;
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  HEADER  --------------------------------*/
/*---------------------------------------------------------------------------*/

.einleitungstext {
  grid-area: header;
  display: flex;
  
}
.einleitungstext p {
  /* padding: 0 5vw 0 5vw;
  margin: 0 auto; */
  /* max-width: 920px; */
  font-size: 1.0rem;
  text-align: center;
  
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  FOOTER  --------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  grid-area: footer;
  place-self: flex-end;
  z-index: 9999999;
  position: absolute;
  bottom: 10px;
  white-space: nowrap;  
}

footer a {
  font-size: 0.5rem;
  
}

/* damit footer am Handy nicht zu sehr ans untere Ende gequetscht ist */
@media screen and (max-width: 500px) {
  footer {
    right: 20px;
    bottom: -110px;
    padding-bottom: 25px;
  }
  

}



/*---------------------------------------------------------------------------*/
/*-------------------------------  MEDIA QUERRY  ----------------------------*/
/*---------------------------------------------------------------------------*/


