/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  font-family: termina, Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  color: black;
  text-decoration-line: none;
}





/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

canvas {
  width: 100%;
  height: 100%;
}





/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/

.nav {
  position: fixed;
  width: 100vw;
  left: 0vw;
  top: 2vh;
  height: 90vh;
  z-index: 10000;
  display: flex;
  align-content: center;
  justify-content: space-between ;
}

.nav__point__text {
  font-size: 1.3em;
}

.nav__point__text:visited {
  color: black;
}

.nav__point  {
  height: fit-content;
}

#nav__left {
  position: relative;
  top: 48vh;
  transform: rotate(-90deg);
}

#nav__right {
  position: relative;
  top: 47vh;
  transform: rotate(90deg);
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  HEADER  --------------------------------*/
/*---------------------------------------------------------------------------*/

.einleitungstext {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.einleitungstext p {
  padding: 0 5vw 0 5vw;
  margin: 0 auto;
  max-width: 920px;
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  FOOTER  --------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  position: fixed;
  bottom: 0.5%;
  left: 1.0%;
}

footer a {
  font-size: 0.5rem;
}