body {
  margin: 0;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 90vw;
  left: 5vw;
  top: 5vh;
  height: 90vh;
  z-index: 10000;
  display: flex;
  align-content: center;
  justify-content: space-between ;
}

.nav__point__text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: black;
  text-decoration-line: none;
}

.nav__point__text:visited {
  color: black;
}

.nav__point  {
  height: fit-content;
}

#nav__left {
  position: relative;
  top: 50vh;
  transform: rotate(-90deg);
}

#nav__right {
  position: relative;
  top: 50vh;
  transform: rotate(90deg);
}

footer {
  position: fixed;
  bottom: 0.5%;
  left: 0.5%;
}

footer a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: black;
  text-decoration-line: none;
}