/*---------------------------------------------------------------------------*/
/*-------------------------------  ALLGEMEIN  -------------------------------*/
/*---------------------------------------------------------------------------*/
:root {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  height: 1200px;
  min-width: 300px;
  background-color: #f5f5f5;
  
}

h1, h2, h3, h4, h5, h6, a, p, li {
  margin: 0;
  padding: 0;
  font-family: termina, Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 500;
  color: black;
  text-decoration-line: none;
}

ul {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
}

ul li {
  list-style: none;
  font-weight: 400;
}




/*---------------------------------------------------------------------------*/
/*--------------------------------  CANVAS  ---------------------------------*/
/*---------------------------------------------------------------------------*/

canvas {
  width: 100%;
  height: 100%;
}





/*---------------------------------------------------------------------------*/
/*------------------------------  NAVIGATION  -------------------------------*/
/*---------------------------------------------------------------------------*/

.nav {
  position: fixed;
  width: 100vw;
  left: 0vw;
  top: 0vh;
  height: 100vh;
  z-index: 10000;
  display: flex;
  align-content: center;
  justify-content: space-between ;
}

#nav__top a {
  position: relative;
  z-index: 2;
}
#nav__top--block {
  width: 100vw;
  height: 5vh;
  background-color: #f5f5f5;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
}


.nav__point__text {
  font-size: 1.3rem;
}

.nav__point__text:visited {
  color: black;
}

.nav__point  {
  height: fit-content;
}

#nav__left {
  position: relative;
  top: 48vh;
  transform: rotate(-90deg);
}

#nav__right {
  position: relative;
  top: 47vh;
  transform: rotate(90deg);
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  HEADER  --------------------------------*/
/*---------------------------------------------------------------------------*/

.einleitungstext {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.einleitungstext p {
  padding: 0 5vw 0 5vw;
  margin: 0 auto;
  max-width: 920px;
}





/*---------------------------------------------------------------------------*/
/*---------------------------------  FOOTER  --------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  position: relative;
  bottom: 0;
  z-index: 9999999;
}

footer a {
  font-size: 0.7rem;
}




/*---------------------------------------------------------------------------*/
/*-------------------------------  MEDIA QUERRY  ----------------------------*/
/*---------------------------------------------------------------------------*/


@media screen and (max-width: 500px) {
  .nav__point__text {
   font-size: 1rem;
  }
}