.uberuns {
  grid-area: main;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: nowrap;

}

.beschreibung {
  grid-area: besch;
  margin-bottom: 10%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
}

.leistungen {
  grid-area: leist;
  flex-grow: 1;
  flex-shrink: 1;
  
}

.flex-block {
  width: 15%;
}

.uberuns h1 {
  margin-bottom: 5%;
}

.beschreibung__text {
  font-weight: 400; 
  margin-bottom: 3%;
}

.uberuns h3, .uberuns li {
  font-size: 0.8rem;
}

@media screen and (max-width: 870px) {
  .uberuns {
    flex-wrap: wrap;
  }

  .beschreibung, .leistungen {
    flex-grow: 1;
  }

  .flex-block {
    display: none;
  }
}

