h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

.pflichtangaben {
  width: 70vw;
  margin: 0 auto;
}



#pfeil {
  margin: 0 0 0 15px;
  transform: rotate(180deg);
  position: fixed;
  bottom: 10px;
}

